<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>466422566813-r56d37cfus6f8obfh77m49pgajqmb33n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466422566813-r56d37cfus6f8obfh77m49pgajqmb33n</string>
	<key>API_KEY</key>
	<string>AIzaSyBgUrL0rPw8OzQNa7HsrTM8STWbIRmJZqg</string>
	<key>GCM_SENDER_ID</key>
	<string>466422566813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.down</string>
	<key>PROJECT_ID</key>
	<string>down-d2885</string>
	<key>STORAGE_BUCKET</key>
	<string>down-d2885.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466422566813:ios:ac637edef87e067e</string>
	<key>DATABASE_URL</key>
	<string>https://down-d2885.firebaseio.com</string>
</dict>
</plist>